/* Customize the variables as you wish */
:where(.c) {
  --vfx-border-width: 1px;
  --vfx-background: conic-gradient(
    from 0deg,
    /* theme('colors.primary.DEFAULT'),
    theme('colors.muted.foreground'), */
    /* white,
    gray, */
    var(--vfx-color-primary),
    var(--vfx-color-foreground),
    transparent,
    transparent,
    transparent
  );

  --vfx-transition: color, background-color, border-color, text-decoration-color,
    fill, stroke 200ms cubic-bezier(0.4, 0, 0.2, 1);
  --vfx-animation: rotate 5s linear infinite;
}

/* Implementation */
:where(.c) {
  border-radius: inherit;
  position: absolute;
  inset: 0;

  padding: var(--vfx-border-width);
  transition: var(--vfx-transition);
}
:where(.b) {
  border-radius: inherit;

  position: absolute;
  inset: calc(-1 * var(--vfx-border-width));
  padding: var(--vfx-border-width);

  -webkit-mask: linear-gradient(white 0 0) content-box,
    linear-gradient(white 0 0);
  mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
:where(.b)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 200%;
  min-height: 200%;
  aspect-ratio: 1/1;
  background: var(--vfx-background);
  transform: translate(-50%, -50%) rotate(0deg);
  animation: var(--vfx-animation);
}
@keyframes rotate {
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
