:where(.vfx) {
  --vfx-shadcn-color-light: theme("colors.primary.DEFAULT");
  --vfx-shadcn-color-shadow: theme("colors.foreground");
  --vfx-shadcn-color-accent: theme("colors.accent.DEFAULT");

  --vfx-chakra-color-light: var(--chakra-colors-black);
  --vfx-chakra-color-shadow: var(--chakra-colors-white);
  --vfx-chakra-color-accent: var(--chakra-colors-blue-500);

  --vfx-color-light: var(
    --vfx-shadcn-color-light,
    var(--vfx-chakra-color-light, white)
  );
  --vfx-color-shadow: var(
    --vfx-shadcn-color-shadow,
    var(--vfx-chakra-color-shadow, black)
  );
  --vfx-color-accent: var(
    --vfxshadcn-color-accent,
    var(--vfx-chakra-color-accent, var(--vfx-color-light))
  );
}

@media (prefers-color-scheme: dark) {
  :where(.vfx) {
    /* Chakra integration */
    --vfx-chakra-color-light: var(--chakra-colors-white);
    --vfx-chakra-color-shadow: var(--chakra-colors-black);
  }
}

/* :where selector has specificity:0, meaning it won't override declared position
   unless the element has it undeclared.
   A declared position:static or position:unset statement would also break it. */
:where(.position-non-static) {
  position: relative;
}

:where(.vfx-wrapper) {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
}
